$main-color: #2269B3;
body{
  padding-top: 120px;
}
.bg-1{
  background-color: $main-color;
}
.fixed{
  position: fixed;
  left: 0;
  top: 0;
}
.ml-2{
  margin-left: 2rem;
}
.ml-3{
  margin-left: 3rem;
}
.mr-3{
  margin-right: 3rem;
}
.material-icons{
  display: inline !important;
  font-size: 1rem !important;
}
#showcase{
  width: 100%;
  height: 300px;
  background: #eee;
  #showcase-center{
    padding: 10px;
  }
}